{% extends 'layout.html' %}

{% block title %} Low Risk {% endblock %}

<body>
  {% block content %}
    <div class="container h-100">
      <div class="row h-100 justify-content-center align-items-center">
          <span style="font-size: 18em; color: green; text-align: center">
              <i class="far fa-smile"></i>
          </span>
          <h1 class="classification" style="text-align: center">Low Risk</h1>
          <h5 class="text" style="text-align: center">Stay safe and healthy! Continue monitoring your health and practice good hygiene.</h5>
      </div>
    </div>
  {% endblock %}
</body>
