{% extends 'layout.html' %}

{% block title %} Moderate Risk {% endblock %}

<body>
  {% block content %}
    <div class="container h-100">
      <div class="row h-100 justify-content-center align-items-center">
          <span style="font-size: 18em; color: #e6a630; text-align: center">
            <i class="fas fa-exclamation-circle"></i>
          </span>
          <h1 class="classification" style="text-align: center">Moderate Risk</h1>
          <h5 class="text" style="text-align: center">Monitor your health! Stay at home and consult your doctor if symptoms exacerbate further.</h5>
      </div>
    </div>
  {% endblock %}
</body>
